<mat-toolbar>
    <mat-toolbar-row >
        <div id="title">
            <span class="spacer"> </span>
            <h3>Cinema Web App</h3>
            <span class="spacer"> </span>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span class="spacer"> </span>
        <a routerLink="['/home']" routerLinkActive="router-link-active" > Home</a>
        <span class="spacer"> </span>
        <a> Home</a>
        <span class="spacer"> </span>
        <a> Home</a>
        <span class="spacer"> </span>
    </mat-toolbar-row>

</mat-toolbar>