<div align="center" style="background-color: #AB201D;" class="pb-3">
    <h2 style=" color: white; margin:0; padding-top:20px; padding-bottom: 20px;" class="mb-3">
        CinemApp
    </h2>
    <div class="d-flex justify-content-around w-50">
        <button type="submit" class="btn btn-primary" routerLink="/home"> Home </button>
        <button type="submit" class="btn btn-primary" routerLink="/calendario-uscite"> Calendario Uscite </button>
        <button type="submit" class="btn btn-primary" routerLink="/news"> News </button>
    </div>
    
</div>

<router-outlet></router-outlet>

<app-footer></app-footer>